# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtualenv
.venv/
venv/
env/

# Django
*.log
media/
staticfiles/
local_settings.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Media uploads
media/
veiculos/imagens/
uploads/